@{
    ViewBag.Title = "MovieAPI";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">MovieAPI Coding Exercise (MVC, React, JavaScript, JSON, Bootstrap)</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>MovieAPI Movie Search</h2>
        <p>
            Search for a Movie and the Movies will be returned with a API call.
        </p>
        <p>
            @* Search text box for searching *@
            <input class="form-control form-control-lg" placeholder="Search" id="search" type="text">
        </p>
        <p>
            @* Button to call the javaScript function when pressed process the API call *@
            <button id="button1" type="button" value="Search" class="btn btn-sm btn-primary" onclick="getMovies()">Search</button>
            @* Button to call the javaScript function when pressed to clear the search *@
            <button id="button2" type="button" value="Clear Search" class="btn btn-sm btn-primary" onclick="clearMovies()">Clear Search</button>
        </p>
        <p>
            @* HTML element to put the API results in *@
            @*<span id="searchedMovies"></span>*@
        </p>
    </div>
</div>

@* HTML element to put the API results in *@
<span id="searchedMovies"></span>

@section Scripts
    {
    <script>
        function getMovies() {
            document.getElementById('searchedMovies').innerHTML = "";
            if (document.getElementById('search').value.trim() == "") {
                alert("Please Enter Search, Search Can Not Be Empty!");
                return false;
            }
            else {
                const input = document.getElementById('search');
                const value = input.value;
                let url = 'http://www.omdbapi.com/?s=' + value + '&apikey=3f66eca5';
                $.getJSON(url).done(function (data) {
                    console.log(data);
                    if (data.Response == "False") {
                        alert("Movie Not Found, Please Try Again!");
                        return false;
                    }
                    var count = parseInt(data.Search.length - 1);
                    var movieLayout = '<table class="table"><tr><th>Poster</th><th>Title</th><th>Type</th><th>Year</th><th>ImdbID</th></tr>';
                    for (var i = 0; i <= count; i++) {
                        movieLayout += '<tr><td><img class="img-fluid img-thumbnail boxShadow" src="' + data.Search[i].Poster + '" alt="' + data.Search[i].Title + '" title="' + data.Search[i].Title + ' class="thumbnail"></td>'
                        movieLayout += '<td>' + data.Search[i].Title + '</td>'
                        movieLayout += '<td>' + data.Search[i].Type + '</td>'
                        movieLayout += '<td>' + data.Search[i].Year + '</td>'
                        movieLayout += '<td>' + data.Search[i].imdbID + '</td></tr>'
                    }
                    document.getElementById('searchedMovies').innerHTML += movieLayout + '</table>';
                });
            }
        }

        function clearMovies() {
            document.getElementById('searchedMovies').innerHTML = "";
            document.getElementById('search').value = "";
        }
    </script>
}