@{
    ViewBag.Title = "MovieAPI";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">MovieAPI Coding Exercise (MVC, JavaScript, jQuery JSON, Bootstrap, Tables, Paging)<br/>
    Consuming API and Displaying It.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>MovieAPI Movie Search</h2>
        <p>
            Search for a Movie and the Movies will be returned with a API call.
        </p>
        <p>
            @* Search text box for searching *@
            <input class="form-control form-control-lg" placeholder="Search" id="search" type="text">
        </p>
        <p>
            @* Button to call the javaScript function when pressed process the API call *@
            <button id="button1" type="button" value="Search" class="btn btn-sm btn-primary" onclick="getMovies('1')">Search</button>
            @* Button to call the javaScript function when pressed to clear the search *@
            <button id="button2" type="button" value="Clear Search" class="btn btn-sm btn-primary" onclick="clearMovies()">Clear Search</button>
        </p>
        <p>
            @* HTML element to put the API results in *@
            @*<span id="searchedMovies"></span>*@
        </p>
    </div>
</div>

<span id="moviePagesTop"></span>

@* HTML element to put the API results in *@
<span id="searchedMovies"></span>

<span id="moviePagesBottom"></span>

@section Scripts
    {
    <script>
        function getMovies(pToUse) {
            document.getElementById('searchedMovies').innerHTML = "";
            document.getElementById('moviePagesTop').innerHTML = ''
            document.getElementById('moviePagesBottom').innerHTML = ''
            if (document.getElementById('search').value.trim() == "") {
                alert("Please Enter Search, Search Can Not Be Empty!");
                return false;
            }
            else {
                const input = document.getElementById('search');
                const value = input.value;
                let url = 'http://www.omdbapi.com/?s=' + value + '&r=json&page=' + pToUse + '&apikey=3f66eca5';
                $.getJSON(url).done(function (data) {
                    console.log(data);
                    if (data.Response == "False") {
                        alert("Movie Not Found, Please Try Again!");
                        return false;
                    }
                    var count = parseInt(data.Search.length - 1);
                    var totalResults = data.totalResults;
                    var pages = Math.ceil(totalResults / 10);
                    console.log(pages);
                    var movieLayout = '<table border="1" class="table table-striped"><tr><th>Poster</th><th>Title</th><th>Type</th><th>Year</th><th>ImdbID</th></tr>'
                    for (var i = 0; i <= count; i++) {
                        movieLayout += '<tr><td><img class="img-fluid img-thumbnail boxShadow" src="' + data.Search[i].Poster + '" alt="' + data.Search[i].Title + '" title="' + data.Search[i].Title + '"</td>'
                        movieLayout += '<td>' + data.Search[i].Title + '</td>'
                        movieLayout += '<td>' + data.Search[i].Type + '</td>'
                        movieLayout += '<td>' + data.Search[i].Year + '</td>'
                        movieLayout += '<td>' + data.Search[i].imdbID + '</td></tr>'
                    }
                    document.getElementById('searchedMovies').innerHTML += movieLayout + '</table>';
                    var moviePagingTop = 'Page: '
                    var moviePagingBottom = 'Page: '
                    for (var z = 1; z <= pages; z++) {
                        moviePagingTop += ' <button id="button1" type="button" value="Search" class="btn btn-sm btn-primary" onclick="getMovies(' + z + ')">' + z + '</button> '
                        moviePagingBottom += ' <button id="button1" type="button" value="Search" class="btn btn-sm btn-primary" onclick="getMovies(' + z + ')">' + z + '</button> '
                    }
                    document.getElementById('moviePagesTop').innerHTML = moviePagingTop;
                    document.getElementById('moviePagesBottom').innerHTML = moviePagingBottom;

                });
            }
        }

        function clearMovies() {
            document.getElementById('searchedMovies').innerHTML = "";
            document.getElementById('search').value = "";
            document.getElementById('moviePagesTop').innerHTML = ''
            document.getElementById('moviePagesBottom').innerHTML = ''
        }
    </script>
}